  class Program
    {
        class Student
        {
            private string name;
            private int Age;
            private bool grant;


            public Student()
            {
                name = "Miha";
                Age = 20;
                grant = true;
                PrintAll();
            }

            public Student(string name, int Age, bool grant)
            {
                this.name = name;
                this.Age = Age;
                this.grant = grant;

                PrintAll();
            }




            public void PrintAll()
            {
                Console.WriteLine("Имя" + name);
                Console.WriteLine("Возраст" + Age);
                Console.WriteLine("Стипендия" + grant);
            }
        }

        static void Main(string[] args)
        {
            Student Leha = new Student("Лёха",15,true);
            Console.WriteLine(Leha);
            Console.WriteLine();
            Student Nikita = new Student("Никита", 20, false);
            Console.WriteLine(Nikita);


            Console.ReadLine();
        }

